@model Order
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="py-4 osahan-main-body">
        <div class="container">
            <div class="row d-flex justify-content-center">
                
                <div class="col-md-9">

                    <section class="bg-white osahan-main-body rounded shadow-sm overflow-hidden">
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="osahan-status">

                                        <div class="p-3 status-order bg-white border-bottom d-flex align-items-center">
                                            <p class="m-0"><i class="feather-calendar text-primary"></i> @Model.CreatedDate.ToLongDateString()</p>
                                            
                                        </div>
                                        <div class="p-3 border-bottom">
                                            <h6 class="font-weight-bold">Order Status</h6>
                                            <div class="tracking-wrap">

                                                <div class="my-1 step">
                                                    <span class="icon text-success"><i class="feather-check"></i></span>
                                                    <span class="text small">@Model.OrderStatus</span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="p-3 border-bottom bg-white">
                                            <h6 class="font-weight-bold">Destination</h6>
                                            <p class="m-0 small">@Model.Address</p>
                                        </div>
                                        <div class="p-3 border-bottom">
                                            <p class="font-weight-bold small mb-1">Courier</p>
                                            
                                            <span class="small text-primary font-weight-bold">
                                                @if (Model.CourierId == null)
                                            {
                                                <span>Not yet assigned a courier</span>
                                            }
                                            else
                                            {
                                                @Model.Courier.Name @Model.Courier.SurName
                                            }
                                            </span>

                                        </div>


                                        <div class="p-3 bg-white">
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="font-weight-bold mb-1">Total Cost</h6>
                                                <h6 class="font-weight-bold ml-auto mb-1">$@Model.TotalPrice</h6>
                                            </div>
                                            <p class="m-0 small text-muted">You can check your order detail
                                                here,<br>Thank you for order.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

