@model List<Category>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-box mb-30 ">
					<div class="pd-20 container">
						<h4 class="text-blue h4">Data Table Simple</h4>
						<p class="mb-0">you can find more options <a class="text-primary" href="https://datatables.net/" target="_blank">Click Here</a></p>
					</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap container-fluid">
							<thead>
								<tr>
									<th class="datatable-nosort">Image</th>
									<th class="table-plus datatable-nosort">Name</th>
									<th>Creat Date</th>
									<th>Update Date</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
											<td><img width="55"  src="@item.ImageUrl" style="background-size:cover"/></td>
											<td>@item.Name</td>
											<td>@item.CreatedDate</td>
											<td>@item.UpdateDate</td>
											<td>
												<div class="dropdown">
													<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
														<i class="dw dw-more"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
														@*<a class="dropdown-item" asp-action="detail" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path"><i class="dw dw-eye"></i> View</a>*@
														<a class="dropdown-item" asp-action="update" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path"><i class="dw dw-edit2"></i> Edit</a>
														<a class="dropdown-item" asp-action="remove" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path"><i class="dw dw-delete-3"></i> Delete</a>
													</div>
												</div>
											</td>
										</tr>
								}
								
							</tbody>
						</table>
					</div>
				</div>




@section Scripts{
	<script src="~/src/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/src/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/src/datatables/js/dataTables.responsive.min.js"></script>
	<script src="~/src/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="~/src/datatables/js/responsive.bootstrap4.min.js"></script>
	
	<script src="~/src/scripts/datatable-setting.js"></script>
}