@model Company

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}



<div class="offer-section py-4">
<div class="container position-relative">
<img alt="#" src="@Model.ImageUrl" class="restaurant-pic"/>
<div class="pt-3 text-white">
<h2 class="font-weight-bold">@Model.Name</h2>
<p class="text-white m-0">@Model.Address</p>
<p class="text-white m-0">@Model.PhoneNumber</p>
<div class="rating-wrap d-flex align-items-center mt-2">
<ul class="rating-stars list-unstyled">
<li>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star"></i>
</li>
</ul>
<p class="label-rating text-white ml-2 small"> (245 Reviews)</p>
</div>
</div>
<div class="pb-4">
<div class="row">
<div class="col-6 col-md-2">
<p class="text-white-50 font-weight-bold m-0 small">Service Fee</p>
<p class="text-white m-0">@Model.ServiceFee AZN</p>
</div>
<div class="col-6 col-md-2">
<p class="text-white-50 font-weight-bold m-0 small">Open time</p>
<p class="text-white m-0">@Model.StartJob</p>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="p-3 bg-primary bg-primary mt-n3 rounded position-relative">
<div class="d-flex align-items-center">
<div class="feather_icon">
<a href="#ratings-and-reviews" class="text-decoration-none text-dark"><i class="p-2 bg-light rounded-circle font-weight-bold  feather-upload"></i></a>
<a href="#ratings-and-reviews" class="text-decoration-none text-dark mx-2"><i class="p-2 bg-light rounded-circle font-weight-bold  feather-star"></i></a>
<a href="#ratings-and-reviews" class="text-decoration-none text-dark"><i class="p-2 bg-light rounded-circle font-weight-bold feather-map-pin"></i></a>
</div>
<a href="contact-us.html" class="btn btn-sm btn-outline-light ml-auto">Contact</a>
</div>
</div>
</div>


<div class="container position-relative">
<div class="row">
<div class="col-md-8 pt-3">
<div class="shadow-sm rounded bg-white mb-3 overflow-hidden">
<div class="d-flex item-aligns-center">
<p class="font-weight-bold h6 p-3 border-bottom mb-0 w-100">Menu</p>

</div>
@foreach (var item in Model.Categories)
{
    <div class="row m-0">
<h6 class="p-3 m-0 bg-light w-100">@item.Name <small class="text-black-50">@item.Products.Count ITEMS</small></h6>
<div class="col-md-12 px-0 border-top">
<div class="">

   @* add Cart*@
        @foreach (var pr in item.Products)
{
    <div class="p-3 border-bottom menu-list">
<span class="float-right"><a data-id="@pr.Id" class="btn btn-outline-secondary btn-sm addCart" >ADD</a></span>
<div class="media">
<img alt="#" src="@pr.ImageUrl"  class="mr-3 rounded-pill ">
<div class="media-body">
<h6 class="mb-1">@pr.Name </h6>
<p class="text-muted mb-0">$@pr.Price</p>
</div>
</div>
</div>
}
</div>
</div>
</div>
}
</div>
<div class="mb-3">
@*<div id="ratings-and-reviews" class="bg-white shadow-sm d-flex align-items-center rounded p-3 mb-3 clearfix restaurant-detailed-star-rating">
<h6 class="mb-0">Rate this Place</h6>
<div class="star-rating ml-auto">
<div class="d-inline-block h6 m-0"><i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star"></i>
</div>
<b class="text-black ml-2">334</b>
</div>
</div>*@
@*<div class="bg-white rounded p-3 mb-3 clearfix graph-star-rating rounded shadow-sm">
<h6 class="mb-0 mb-1">Ratings and Reviews</h6>
<p class="text-muted mb-4 mt-1 small">Rated 3.5 out of 5</p>
<div class="graph-star-rating-body">
<div class="rating-list">
<div class="rating-list-left font-weight-bold small">5 Star</div>
<div class="rating-list-center">
<div class="progress">
<div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%;"></div>
</div>
</div>
<div class="rating-list-right font-weight-bold small">56 %</div>
</div>
<div class="rating-list">
<div class="rating-list-left font-weight-bold small">4 Star</div>
<div class="rating-list-center">
<div class="progress">
<div role="progressbar" class="progress-bar bg-info" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
</div>
</div>
<div class="rating-list-right font-weight-bold small">23 %</div>
</div>
<div class="rating-list">
<div class="rating-list-left font-weight-bold small">3 Star</div>
<div class="rating-list-center">
<div class="progress">
<div role="progressbar" class="progress-bar bg-info" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100" style="width: 11%;"></div>
</div>
</div>
<div class="rating-list-right font-weight-bold small">11 %</div>
</div>
<div class="rating-list">
<div class="rating-list-left font-weight-bold small">2 Star</div>
<div class="rating-list-center">
<div class="progress">
<div role="progressbar" class="progress-bar bg-info" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: 6%;"></div>
</div>
</div>
<div class="rating-list-right font-weight-bold small">6 %</div>
</div>
<div class="rating-list">
<div class="rating-list-left font-weight-bold small">1 Star</div>
<div class="rating-list-center">
<div class="progress">
<div role="progressbar" class="progress-bar bg-info" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100" style="width: 4%;"></div>
</div>
</div>
<div class="rating-list-right font-weight-bold small">4 %</div>
</div>
</div>
<div class="graph-star-rating-footer text-center mt-3"><button type="button" class="btn btn-primary btn-block btn-sm">Rate and Review</button></div>
</div>*@
<div class="bg-white p-3 mb-3 restaurant-detailed-ratings-and-reviews shadow-sm rounded">
<a class="text-primary float-right" href="#">Top Rated</a>
<h6 class="mb-1">All Reviews</h6>

<div class="bg-white p-3 mt-3 mb-4 rating-review-select-page rounded shadow-sm">
<h6 class="mb-3">Leave Comment</h6>

@*<div class="d-flex align-items-center mb-3">
<p class="m-0 small">Rate the Place</p>
<div class="star-rating ml-auto">
<div class="d-inline-block"><i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star text-warning"></i>
<i class="feather-star"></i>
</div>
</div>
</div>*@

<form>
    <div class="form-group"><label class="form-label small">Your Comment</label>
        <textarea data-id="@Model.Id" id="contentComment" class="form-control" @(!User.Identity.IsAuthenticated?"disabled":"")></textarea>
    </div>
    <div class="form-group mb-0">
        <button id="addbtncomment" type="button" class="btn btn-primary btn-block" @(!User.Identity.IsAuthenticated?"disabled":"")> Submit Comment </button>
    </div>
</form>


</div>

<hr>

<div id="commentarea" style="max-height:400px;overflow:hidden; overflow-y:scroll;">


@foreach (var c in Model.Comments.OrderByDescending(x=>x.CreatedDate))
{
    <div class="reviews-members py-2">
    <div class="media">
        <a href="#"><img style="height:50px;" alt="#" src="@c.Customer.ImageUrl" class="mr-3 rounded-pill"></a>
        <div class="media-body">
            <div class="reviews-members-header">
                <div class="star-rating float-right">
                    @*<div class="d-inline-block" style="font-size: 14px;"><i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star text-warning"></i>
                        <i class="feather-star"></i>
                    </div>*@
                </div>
                <h6 class="mb-0"><a class="text-dark" href="#">@c.Customer.Name @c.Customer.SurName</a></h6>
                <p class="text-muted small">@c.CreatedDate.ToShortDateString()</p>
            </div>
            <div class="reviews-members-body">
                <p>@c.Content</p>
            </div>
            @*<div class="reviews-members-footer"><a class="total-like btn btn-sm btn-outline-primary" href="#"><i
                        class="feather-thumbs-up"></i> 856M</a> <a class="total-like btn btn-sm btn-outline-primary"
                    href="#"><i class="feather-thumbs-down"></i> 158K</a>
                <span class="total-like-user-main ml-2" dir="rtl">
                    <a href="#" aria-describedby="tooltip-top0"><img alt="#" src="~/img/reviewer3.png"
                            class="total-like-user rounded-pill"></a>
                    <a href="#" aria-describedby="tooltip-top1"><img alt="#" src="~/img/reviewer4.png"
                            class="total-like-user rounded-pill"></a>
                    <a href="#"><img alt="#" src="~/img/reviewer5.png" class="total-like-user rounded-pill"></a>
                    <a href="#" aria-describedby="tooltip-top3"><img alt="#" src="~/img/reviewer6.png"
                            class="total-like-user rounded-pill"></a>
                </span>
            </div>*@
        </div>
    </div>
</div>
<hr>
}
</div>

@*<a class="text-center w-100 d-block mt-3 font-weight-bold" href="#">See All Reviews</a>*@
</div>

</div>
</div>
        @*card item*@

        @await Component.InvokeAsync("Basket")

</div>
</div>

@section Scripts{
<script type="11efad072887e2e154cdf8b5-text/javascript" src="~/js/basket.js"></script>
<script type="11efad072887e2e154cdf8b5-text/javascript" src="~/js/comment.js"></script>
    

}

 