@model Order

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="invoice-wrap">
					<div class="invoice-box">
						
						<h4 class="text-center mb-30 weight-600">Detail</h4>
						<div class="row pb-30">
							<div class="col-md-6">
								<h5 class="mb-15">Client Name</h5>
								<p class="font-14 mb-5">Date Issued: <strong class="weight-600">@Model.CreatedDate</strong></p>
								<p class="font-14 mb-5">Invoice No: <strong class="weight-600">@Model.InvoiceNo</strong></p>
							</div>
							<div class="col-md-6">
								<div class="text-right">
									<p class="font-14 mb-5"><strong>@Model.SurName </strong></p>
									<p class="font-14 mb-5">@Model.Address</p>
									<p class="font-14 mb-5"></p>
								</div>
							</div>
						</div>
						<div class="invoice-desc pb-30">
							<div class="invoice-desc-head clearfix">
								<div class="invoice-sub">Name</div>
								<div class="invoice-sub">Price</div>
								<div class="invoice-hours">Piece</div>
								<div class="invoice-subtotal">Subtotal</div>
							</div>
							<div class="invoice-desc-body">
								<ul>
									@foreach (var item in Model.OrderItems)
									{
										<li class="clearfix">
										<div class="invoice-sub">@item.Product.Name</div>
										<div class="invoice-rate">$@item.Product.Price</div>
										<div class="invoice-hours">@item.ProductCount</div>
										<div class="invoice-subtotal"><span class="weight-600">$@(item.Price*item.ProductCount)</span></div>
									</li>
									}
								</ul>
							</div>
							<div class="invoice-desc-footer">
								<div class="invoice-desc-head clearfix">
									<div class="invoice-sub">Bank Info</div>
									<div class="invoice-rate">Due By</div>
									<div class="invoice-subtotal">Total Due</div>
								</div>
								<div class="invoice-desc-body">
									<ul>
										<li class="clearfix">
											
										
											<div class="invoice-subtotal"><span class="weight-600 font-24 text-danger">$@Model.TotalPrice</span></div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>