@model CompanyDashboardVM

@{
    ViewData["Title"] = "Home Page";
}


<div class="card-box pd-20 height-100-p mb-30" style="font-weight:bold;">
	Best seller		
</div>
			<div class="row">
				@*<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							
							<div class="widget-data">
								<div class="h4 mb-0">@ViewBag.DailyOrder</div>
								<div class="weight-600 font-14">sifaris sayi</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart2"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">400</div>
								<div class="weight-600 font-14">satilan product sayi</div>
							</div>
						</div>
					</div>
				</div>*@
				@*<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart3"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">350</div>
								<div class="weight-600 font-14">Campaign</div>
							</div>
						</div>
					</div>
				</div>*@
				@*<div class="col-xl-3 mb-30">
					<div class="card-box height-100-p widget-style1">
						<div class="d-flex flex-wrap align-items-center">
							<div class="progress-data">
								<div id="chart4"></div>
							</div>
							<div class="widget-data">
								<div class="h4 mb-0">$6060</div>
								<div class="weight-600 font-14">gunluk qazanc</div>
							</div>
						</div>
					</div>
				</div>*@
			</div>
			<div class="row">
				@*<div class="col-xl-8 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Activity</h2>
						<div id="chart5"></div>
					</div>
				</div>
				<div class="col-xl-4 mb-30">
					<div class="card-box height-100-p pd-20">
						<h2 class="h4 mb-20">Lead Target</h2>
						<div id="chart6"></div>
					</div>
				</div>*@
			</div>
			<div class="card-box mb-30 ">
					<div class="pd-20 container">
					
						</div>
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap container-fluid">
							<thead>
								<tr>
									<th class="datatable-nosort">Image</th>
									<th class="table-plus datatable-nosort">Name</th>
									<th>Category Name</th>
									<th>Price</th>
									<th>Creat Date</th>
									<th class="datatable-nosort">Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.BestSeller)
								{
									<tr>
											<td><img width="55"  src="@item.ImageUrl" style="background-size:cover;border-radius:10px"/></td>
											<td>@item.Name</td>
											<td>@item.Category.Name</td>
											<td>@item.Price AZN</td>
											<td>@item.CreatedDate.ToShortDateString()</td>
											<td>
												<div class="dropdown">
													<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
														<i class="dw dw-more"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
														<a class="dropdown-item" asp-action="update" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path"><i class="dw dw-edit2"></i> Edit</a>
														<a class="dropdown-item" asp-action="remove" asp-route-id="@item.Id" asp-route-ReturnUrl="@Context.Request.Path"><i class="dw dw-delete-3"></i> Delete</a>
													</div>
												</div>
											</td>
											</tr>
								}
								
							</tbody>
						</table>
					</div>
				</div>


	@if(Model.Company.Address==null){

		<div >
		<div data-backdrop="static"  class="modal show" id="warning-modal" tabindex="-1" role="dialog" 
			aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-md modal-dialog-centered">
									<div class="modal-content bg-warning">
										<div class="modal-body text-center">
											<h3 class="mb-15"><i class="fa fa-exclamation-triangle"></i> Warning</h3>
											<p>Select address</p>
											<div class="form-group mb-0">
												<input type="text" id="addressSearch" class="form-control search-input" placeholder="Search Here">
												
											</div>
											<div class="list-group my-3" id="listArea" style="min-height:50px">
												
											</div>

										</div>
									</div>
								</div>
							</div>
	</div>
	
	<script src="~/js/searchaddress.js"></script>
	}

	

@section Scripts{
	<script src="~/src/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/src/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/src/datatables/js/dataTables.responsive.min.js"></script>
	<script src="~/src/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="~/src/datatables/js/responsive.bootstrap4.min.js"></script>
	@*<script src="~/src/scripts/dashboard.js"></script>*@
	<script src="~/vendors/scripts/dashboard.js"></script>

	<script>
		$(document).ready(function()
{
    $('#warning-modal').modal('show');
});

	</script>

		}

